<% provide(:title, 'Contact') %>
<h3>Email</h3>
<p>
  swayboxsomething@swayboxstudios.com
</p>
<h3>Telephone</h3>
<p>
	1-(318)-123-4567
</p>
<h3>Address</h3>
<p>
	2120 Kings Highway, Shreveport, LA 71103
</p>