%h1 Listing arrangements

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @arrangements.each do |arrangement|
      %tr
        %td= link_to 'Show', arrangement, class: "btn btn-primary btn-block"
        %td= link_to 'Edit', edit_arrangement_path(arrangement), class: "btn btn-warning btn-block"
        %td= link_to 'Destroy', arrangement, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-block"

%br

= link_to 'New Arrangement', new_arrangement_path
