%h1 Regular Statuses
=link_to 'New Status', new_reg_status_path, class: "btn  btn-info btn-block"
%br/
%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Stage of Development
      %th{:colspan => "2"} Commands
  %tbody
    - @reg_statuses.each do |status|
      %tr
        %td= status.stage
        %td= link_to 'Edit', edit_reg_status_path(status)
        %td= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' }
%br/
