%h1 Mid-Close Puppets
=link_to 'New Puppet', new_mc_puppet_path, class: "btn  btn-info btn-block"
%br/
%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Name
      %th Status
      %th{:colspan => "2"} Commands
  %tbody
    - @mc_puppets.order('mc_puppets.name asc').each do |puppet|
      %tr
        %td= puppet.name
        - status = McStatus.find_by(id: puppet.status).stage unless McStatus.find_by(id: puppet.status).blank?
        %td= status
        %td= link_to 'Edit', edit_mc_puppet_path(puppet), class: "btn btn-warning btn-block"
        %td= link_to 'Destroy', puppet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-block"
%br/